html
  head
    title= title
  body
    h1= title
    form(action="/upload", method="post", enctype="multipart/form-data")
       div
           label(for="photo")="Pick a photo"
           input(type="file", name="photo", id="photo")
       div
           button="Upload your photo"
    h2= "Uploaded Photos"
    each image in images
        img(src="./uploads/" + image, style="height: 200px; width: 200px")       
            