html
  head
    title= title
  body
    h1= title
    br
    br
    img(src="./uploads/" + images[images.length - 1], style="height: 200px; width: 200px")
    br
    br
    button(onClick="location.href='/' ") Go Back